<%= form_for @user do |f| %>
  <div> 
    <%= f.label :名前 %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :自己紹介 %>
    <%= f.text_area :profile %>
  </div>

  <div>
    <%= f.label :プロフィール画像 %>
    <%= f.file_field :profile_image %>
  </div>

  <div>
    <%= f.submit "保存" %>
  </div>
  
<% end %>
  
  