<h2>プロフィール</h2>

  <div>
    <% if @user.profile_image.present? %>
      <%= image_tag @user.profile_image.url, alt: "Profile image" %>
    <% else %>
      <%= image_tag "/images/default-profile-image.png", alt: "Default profile image" %>
  </div>
  
  <div>
    <p>名前 : <%= @user.username%></p> 
  </div>

  <div>
	  <p>紹介文 : <%= @user.profile%></p>
  </div>

  <%= link_to "プロフィール編集", users_profile_edit_path, classclass:"nav-link" %>
  
<% end %>
