<h2>予約済み施設一覧</h2>

<table>
  <thead>
    <tr>
      <th></th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金</th>
      <th>チェックイン</th>
      <th>チェックアウト</th>
      <th>予約確定日時</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
      <td>
      <% if reservation.room.room_image.present? %>
        <%= image_tag reservation.room.room_image.url, alt: "room image" %>
      <% else %>
        <%= image_tag "/images/default-room-image.png", alt: "Default room image" %>
      <% end %>
      </td>

        <td><%= link_to reservation.room.roomname, room_reservations_path(reservation.room_id) %></td>
        <td><%= reservation.room.description %></td>
        <td><%= reservation.calc_price %></td>
        <td><%= reservation.checkin_at.to_s(:datetime_jp) %></td>
        <td><%= reservation.checkout_at.to_s(:datetime_jp) %></td>
        <td><%= reservation.created_at.to_s(:datetime_jp1) %></td>
      </tr>
    <% end %>
  </tbody>
</table>