<h2>登録済み施設一覧</h2>

<table>
  <thead>
    <tr>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金</th>
      <th>作成日</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
      <td>
      <% if room.room_image.present? %>
        <%= image_tag room.room_image.url, alt: "room image" %>
      <% else %>
        <%= image_tag "/images/default-room-image.png", alt: "Default room image" %>
      <% end %>
      </td>

        <td><%= link_to room.roomname, room_reservations_path(room.id) %></td>
        <td><%= room.description %></td>
        <td><%= room.price %></td>
        <td><%= room.updated_at %></td>
        <td><%= link_to '編集', edit_room_path(room) %></td>
        <td><%= link_to '削除', room_path(room), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新しい部屋の登録', new_room_path %>
