<%= form_tag rooms_path, method: :get do %>
  <%= label_tag :area, "エリア:" %>
  <%= select_tag :area, options_for_select(["東京", "大阪", "京都", "札幌"], params[:area]), include_blank: true %>
  <%= label_tag :keyword, "キーワード:" %>
  <%= text_field_tag :keyword, params[:keyword] %>
  <%= submit_tag "検索" %>
<% end %>



<h2>検索結果:<%=@number%>件</h2>

  <% @results.each do |room| %>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="room-frame-inner">
          <%= link_to room_path(room.id), class: 'link' do %>
            
            <div class="room-profile">
              <p class="room-profile-name"><%=room.roomname%></p>
              <p class="room-profile-city"><%= room.address %></p>
              <p class="room-profile-price price-icon">¥ <%= room.price %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %> >
