<div class="search-field">
  <%= form_tag room_result_path, method: :get do %>
    <%= label_tag :area, "エリア検索" %>
    <%= text_field_tag :area, params[:area], placeholder: "例：東京" %>
    <%= label_tag :query, "フリーワード検索" %>
    <%= text_field_tag :query, params[:query], placeholder: "例：和室" %>
    <%= submit_tag "検索" %>
  <% end %>
</div>

<div class="search-results">
  <% if @rooms.present? %>
    <h3>検索結果：<%= @count %>件</h3>
    <div class="card" style="width: 18rem;" >
      <% @rooms.each do |room| %>
        <div class="room_image">
          <% if room.room_image.present? %>
            <%= image_tag room.room_image.url(:room_image), class:"card-img-top", alt: "room image" %>
          <% else %>
            <%= image_tag "/images/default-room-image.png", class:"card-img-top", alt: "Default room image" %>
          <% end %>
        </div>
        <div class="card-body">
          <h2 class="card-title"><%= room.roomname %></h2>
          <p class="card-text"><%= room.description %></p>
          <p class="card-text"><%= room.address %></p>
          <p class="card-text">料金:¥ <%= room.price %>~</p>
          <%= link_to "詳細ページへ", room_reservations_path(room_id: room.id), class:"btn btn-primary" %>
        </div>
      <% end %>
    </div> 
  <% else %>
    <h3>検索結果：０件</h3>
    <%= link_to "戻る", :back %>
  <% end %>
</div>