<h2>施設詳細</h2>

<%= form_tag rooms_path, method: :get do %>
  <%= label_tag :area, "エリア:" %>
  <%= select_tag :area, options_for_select(["東京", "大阪", "京都", "札幌"], params[:area]), include_blank: true %>
  <%= label_tag :keyword, "キーワード:" %>
  <%= text_field_tag :keyword, params[:keyword] %>
  <%= submit_tag "検索" %>
<% end %>


<table>
	<tr>
		<td><%= @room.roomname %></td>
		<td><%= @room.address %></td>
		<td><%= @room.description %></td>
		<td><%= @room.price %></td>
	</tr>
</table>

