<h2>施設詳細</h2>

<table>
	<tr>
  <% if @room.room_image.present? %>
  <%= image_tag @room.room_image.url, alt: "room image" %>
<% else %>
  <%= image_tag "/images/default-room-image.png", alt: "Default room image" %>
<% end %>

		<td><%= @room.roomname %></td>
		<td><%= @room.address %></td>
		<td><%= @room.description %></td>
		<td><%= @room.price %></td>
	</tr>
</table>

<%= form_with model: @reservation, method: :post, url: reservation_confirm_path do |f| %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.label :checkin_at, "開始日" %>
  <%= f.date_field :checkin_at, class: "form-control mb-4", value: @reservation.checkin_at %>
  

  <%= f.label :checkout_at, "終了日" %>
  <%= f.date_field :checkout_at, class: "form-control mb-4", value: @reservation.checkout_at %>
  

  <%= f.label :person_count, "宿泊人数" %>
  <%= f.number_field :person_count, class: "form-control mb-4" %>
  <%= f.submit"予約する", class: "btn btn-primary form-contro" %>     
<% end %>
